git.header_top { 
    background: $black;    
    height:45px; 
    color: $white;  

   }   
    
   .header_top__nav {    
     display:flex;    
     margin-top:10px;
    .item {  
      width:68px; 
      height:18px;   
      margin-top:3px;
      padding-top:5px;  
      padding-left:5px;    
      font-size:5px;

      .item_ic {   
        width: 9px;
	      height: 6px;
        background:url(../img/sprites.png) no-repeat;  
        background-position: -10px -10px;  
        margin-left:45px;  
        margin-top:-9px;
      }  
       
    } 
    .item2 {    
      border-right:1px solid #fff; 
      border-left:1px solid #fff; 
      width:78px; 
      height:18px;   
      margin-top:3px;
      padding-top:5px;     
      font-size:5px;

      .item_ic2 {   
        width: 9px;
	      height: 6px;
        background:url(../img/sprites.png) no-repeat;  
        background-position: -10px -10px;  
        margin-left:61px;  
        margin-top:-9px; 
      }   
  
      }
  
    .item3 {    
      margin-top:3px; 
      padding-top:5px;   
      font-size:5px; 
      width:70px; 
      height:19px;    

      .item3_ic {  
        width: 9px;
	      height: 6px;
        background:url(../img/sprites.png) no-repeat;  
        background-position: -10px -10px;  
        margin-left:46px; 
        margin-top:-9px;

      } 

     }
    a {      
     text-decoration:none; 
     font-size:12px;   
     margin-left:15px;  
     color: $white;
    }
   } 
    
   .header_top__log {  
     display:flex; 
     margin-top:10px;
     margin-left:415px; 
      
     .item4_ic {   
      margin-top:7px;  
      background:url(../img/sprites.png) no-repeat;  
      background-position: -415px -435px;
      width: 13px;
	    height: 15px;
     }
     
  
  
     
    .item5_ic {   
      width: 17px;
	    height: 14px;
      margin-top:7px;
      background:url(../img/sprites.png) no-repeat;  
      background-position:-182px -196px;
    } 


     a { 
      color:  $white;  
      text-decoration:none;  
      font-size:12px;
     }   
    

     .item4 {   
       display:flex;
       margin:9px;  
    
     }  
     .itemf {  
      width: 17px;
      height: 17px; 
      background:url(../img/sprites.png) no-repeat;  
      background-position:-765px -776px;
      margin-left:25px;  
      margin-top:9px;
     }
   
    }   
 
  .header_middle {    
    position:relative;
    display:flex; 
    justify-content:center; 
    align-items:center;
    background:$black2; 
    height:145px;
  .phone {  
    display:flex; 
    margin-left:50px;   
    margin-top:20px; 
    height:50px;
  }
   .phone_number {  
    padding-top:9px;
    font-size:15px; 
    font-weight:500px; 
    margin-left:5px; 
    color:$white;
   } 
    
  .phone_ic {  
  width: 19px;
  height: 32px;   
  margin-right:5px;
  background:url(../img/sprites.png) no-repeat;  
  background-position: -1499px -1459px;
  }   

  .logo { 
    margin-left:193px; 
  }
   .wrapper_basket {     
     margin-left:210px; 
     margin-top:12px;
     display:flex; 
     justify-content:center; 
     align-items:center;
     width:50px; 
     height:50px; 
     background:$yellow; 
   }

  .basket { 
    background:url(../img/sprites.png) no-repeat;  
    background-position:  -1222px -1213px;
    width: 23px;
	  height: 21px;
  
  } 
  .zero {  
    width:24px; 
    height:24px; 
    border-radius:50%;  
    background:#363636;
    color:$gray2 ;
    text-align:center;
    padding-top:10px; 
    position:absolute; 
    right:14px; 
    top:20px;
  }

  } 
   
  .header_bottom {  
   height:87px;  
   color:$white;    
  

    .header_bottom__left_field {  
     margin-top:18px;   
     margin-left:40px;
     position:relative;
     .left_field2 {  
      width:107px; 
      height:43px;  
      padding-left:31px;   
      margin-left:10px;
      letter-spacing:-1px; 
      word-spacing:0px;
      font-weight:500;
      border:1px solid $black3; 
     }
     .left_field_ic1 {   
      background: url("../img/sprites.png") no-repeat -1137px -1133px; 
      width: 31px;
      height: 19px; 
      position:absolute; 
      left:14px; 
      bottom:33px;
     }  

     .left_field_ic2 {  
      background: url("../img/sprites.png") no-repeat -39px -36px;
      width: 10px;
      height: 7px;  
      position:absolute; 
      left:135px;
      bottom:39px;
     } 
     .left_field3 { 
       width:178px; 
       height:43px;  
       letter-spacing:-1px; 
       word-spacing:0px;
       border:1px solid $black3;
       padding-left:5px;
       margin-left:-5px;
     } 
     .left_field_ic3 {  
     background: url("../img/sprites.png") no-repeat -838px -844px;
     width: 15px;
     height: 16px;  
     position:absolute; 
     left:309px;
     bottom:34px;
     }
    } 
    .header_bottom__nav {  
      display:flex;  
      height:50px; 
      padding-top:33px;  
      margin-left:58px;
  
        a { 
          text-decoration:none; 
          font-size:12px;  
          font-weight:600;
          margin-left:12px; 
          color:$black3; 
        } 
      .wrapp_a {  
       display:inline-block;   
       background:$yellow;   
       border-top:3px solid $black3;
       color:$white;
       width:40px; 
       height:54px;  
       margin-top:-35px;  
       padding-top:29px; 
       padding-right:15px;
       a {color:$white;}
      }
    }
  } 
  .general_container {  
    margin: 0 auto;
    width: 855px; 
    display:flex; 
    position:relative; 
   /* border:2px solid fuchsia;*/
  } 
   
  .options__bar {  
   background:$white;
   display:flex;

  .hot_deals { 
    margin-left:61px; 
   
  .hot_deals__header {  
    background:$black3; 
    width:225px; 
    height:35px; 
    padding-top:14px; 
    padding-left:10px;
    p {  
      color:$white;   
      font-size:15px; 
      font-weight:"SemiBold"; 
    } 
    .header_items {  
      display:flex;  
      margin-left:164px; 
      margin-top:-14px;
      .item {  
       width:13px;  
       height:13px;  
       border-radius:50%; 
       background:$yellow;
      } 
      .item1 {  
        width:13px;  
        height:13px;  
        border-radius:50%; 
        background:$gray3;
        margin-left:7px;
       }
    }
  }  
   .hot_deals__main {   
     display:flex;
     flex-direction:column; 
     justify-content:center; 
     background:$gray4; 
     height:290px;
    .hot_deals__button {   
       position:relative;
       width:105px;  
       height:40px;    
       padding-top:4px; 
       padding-left:33px; 
       margin-left:64px;
       border:none; 
       font-size:10px;  
       word-spacing:-1px; 
       color:$white;
       font-family:"Poppins"; 
       font-weight:"Semibold";
       background:$black3;
       margin-top:90px; 
       .basket {  
        background: url("../img/sprites.png") no-repeat -1222px -1213px;
      	width: 24px;
        height: 21px;  
        position:absolute; 
        bottom:11px; 
        left:8px;
       } 
         } 
         .hot_deals__time_bar {  
          display:flex; 
          margin-top:70px;
          .item {  
            background:$black4;
            color:$white;
            text-align:center;  
            margin-left:5px;
            padding-top:20px;
            width:52px;    
            height:49px; 
            border-radius:50%; 
            font-size:12px; 
            font-weight:550; 
            line-height:19px; 
            span { 
             font-size:18px; 
             font-weight:700; 
            }
       }
     }
   }  
   .f_wrapper { 
     border:1px solid $gray3;
     background:$white;  

   .hot_deals__footer {    
     padding-top:34px; 
     height:60px;
     text-align:center; 
     p { color:$black3;  
         font-size:13px; 
         font-weight:600;
       } 
       .foot_sec {  
        border-bottom:1px solid $black3;
        height:44px; 
        width:224px; 
        margin-left:5px;
        position:relative;
        .item {    
         height:16px;  
         width:90px;   
         margin-left:75px; 
         margin-top:19px;
         background: url("../img/sprites.png") no-repeat -1606px -1547px;
        }  

        .rectangle {   
          width:25px; 
          height:5px; 
          background:$yellow;
          position:absolute; 
          top:42px; 
          left:94px;
        } 

       }
   } 
   .final_footer { 
     height:47px;
     .f_f_i {   
       display:flex;   
       margin-top:30px;
       .item1 {  
        margin-left:3px;
        border:1px solid $black3;
        background: url("../img/sprites.png") no-repeat -617px -634px;
        width:23px; 
        height:33px;
        } 
        .item2 {  
          width:23px; 
          height:33px;  
          margin-left:3px;
          border:1px solid $black3; 
          background: url("../img/sprites.png") no-repeat -799px -800px; 
          } 
          .item3 {  
            width:23px; 
            height:33px;  
            margin-left:3px;
            border:1px solid $black3; 
            background: url("../img/sprites.png")no-repeat -724px -735px; 
            } 
       .prices {     
        display:flex; 
        .price1 {    
         margin-right:2px;
         font-size:12px;  
         padding-top:11px; 
         margin-left:28px;
         color:$gray5;
         position:relative;  
         p:after {  
          content:"";  
          display:block; 
          width:45px;
          height:1px;
          background:$black3;
          position:absolute; 
          top:16px; 
          left:1px;
          }
         } 
         .price2{  
          color:$white;
          background:$black3;
          padding-top:9px; 
          font-size:15px; 
         }
        } 
     } 
     
   } 
  } 
 
 }  
 .shop_now {  
  background: $gray6;
  margin-left:14px; 
  height:511px;  
  width:500px; 
   
  .shop_now__middle {    
    border-top:1px solid $gray7;  
    position:relative;
    background:$gray7;  
    margin-top:143px; 
    height:214px; 
    .shop_now__content {  
    margin-top:78px;   
    text-align:center; 
    font-size:45px;    
    font-family:"Poppins";
    font-weight:"Light"; 
    word-spacing:-1px;
    color:$white;
    line-height:1.5; 
    span { font-weight:900;}
    p{  
      font-size:19px;  
      font-weight:"light"; 
      word-spacing:-1px;
     }
    } 
    .shop_now__B {  
      width:89px; 
      height:55px;    
      border-radius:5%; 
      background:$white;
      font-size:12px;  
      font-weight:700;
      word-spacing:-1px;  
      color:$black3;
      border:none;
      position:absolute; 
      top:182px; 
      left:201px;
    }
  } 
  .shop_now__footer {    
    height:45px;
    margin-top:108px;  
    display:flex;
    .left_side {  
      width:250px;
      background:$black3;
    .l_item {  
      background: url("../img/sprites.png") no-repeat -95px -94px;
      width: 9px;
      height: 13px;  
      margin-left:118px;  
      margin-top:14px;  
    }  
    } 
    .right_side { 
      background:$yellow; 
      width:250px;
    .r_item {   
      background: url("../img/sprites.png")  no-repeat -124px -127px;
      width: 9px;
      height: 13px;  
      margin-left:114px;  
      margin-top:14px;
    } 
    }
   }
  }
 } 
 .offer_items { 
  display:flex; 
  margin-left:60px;
  margin-top:67px;

.item1 {
   width:170px; 
   height:70px;   
   border:1px solid $gray8;
   position:relative;
   text-align:center; 
   line-height:1.7; 
   padding-top:50px;
   color:$yellow1;
   span {font-weight:900;}
    
   .wrap {  
    width:65px; 
    height:65px;   
    border-radius:50%; 
    border:1px solid $yellow2;   
    background:$white;
    position:absolute; 
    bottom:94px; 
    left:55px; 
    .sprite {  
      background: url("../img/sprites.png")  no-repeat -1309px -1296px; 
      background:$yellow;  
      border:1px solid $yellow3;
      width:55px; 
      height:55px;   
      margin-left:4px; 
      margin-top:4px;
      border-radius:50%;    
      .sp_it {   
        width: 32px;
        height: 29px;   
        border-radius:50%; 
        margin-left:13px; 
        margin-top:15px;
        background: url("../img/sprites.png")  no-repeat -1309px -1296px;
      }

      
    }
   }  
   } 
   /*----------------item2start---------------- */ 
   .item2 {
    width:170px; 
    height:70px;   
    border:1px solid $gray8;  
    margin-left:19px;
    position:relative;
    text-align:center; 
    line-height:1.7; 
    padding-top:50px; 
    color:$black3; 
    span {font-weight:900;}
     
    .wrap {  
     width:65px; 
     height:65px;   
     border-radius:50%; 
     border:1px solid $gray8;   
     background:$white;
     position:absolute; 
     bottom:94px; 
     left:55px; 
     .sprite {  
       background: url("../img/sprites.png")  no-repeat -1309px -1296px; 
       background:$white;  
       border:1px solid $gray8;
       width:55px; 
       height:55px;   
       margin-left:4px; 
       margin-top:4px;
       border-radius:50%;    
       .sp_it {   
         border-radius:50%; 
         margin-left:13px; 
         margin-top:15px;
         background: url("../img/sprites.png")  no-repeat -1265px -1254px;
         width: 24px;
         height: 22px;
       }  
       .sp_it2 {   
        border-radius:50%;
        margin-left:13px; 
        margin-top:15px;
        background: url("../img/sprites.png")no-repeat -1406px -1372px;
        width: 26px;
        height: 24px;
        
      }  
        
      .sp_it3 {   
        border-radius:50%;
        margin-left:13px; 
        margin-top:15px;
        background: url("../img/sprites.png")no-repeat -1451px -1416px;
        width: 35px;
        height: 28px;
        
      } 
     
      }

     }
    }  
    }  
    .squares {  
    display:flex;    
    margin-top:10px; 
    .square__item {  
      margin-top:23px; 
      margin-left:55px; 
      height:417px; 
      width: 365px;  
      background:$black1; 
      .guest_room {  
        height:352px; 
        width: 317px;     
        border-top:1px solid $black5;
        background:$black5;
        margin:0 auto; 
        margin-top:33px;  
       .content { 
        height:190px; 
        width: 217px;   
        margin-top: 143px; 
        padding-left:7px; 
        color:$white;
        word-spacing: 0px; 
        letter-spacing:0px; 
        line-height:1.2;
        font-size:31px; 
        font-weight:700;
        border:1px solid $black5; 
        span {  
         font-size:49px; 
        } 
        .discount { 
          height:62px; 
          width: 100px;     
          text-align:center;   
          margin-top:10px; 
          padding-top:13px; 
          font-size:38px;
          border:5px solid $white;
        }
       }

      }
    } 
    .wrapper {  
     flex-direction:column; 
    
    .chair {  
      border-top:1px solid $gray; 
      margin-top:24px;
      height:200px; 
      width: 364px;   
      margin-left:20px;
      background:$gray;
      .content {  
      height:70px; 
      width: 200px;    
      margin-top:48px;
      margin-left:110px;   
      font-size:24px; 
      line-height:1.5; 
      span { font-weight:800;}
      p {font-size:16px;}
      } 
      .price {  
      font-size:30px; 
      font-weight:900; 
      margin-left:110px; 
      color:$yellow;
      }
    }   
    .chair2 {  
      border-top:1px solid $gray; 
      margin-top:14px;
      height:200px; 
      width: 364px;  
      margin-left:20px;
      background:$pink;
      .content {  
      height:70px; 
      width: 200px;        
      color:$yellow;
      margin-top:76px;
      margin-left:155px;   
      font-size:18px;  
      line-height:1.8;  
      span { font-weight:900;}
      p { 
        font-size:14px;  
        letter-spacing:-1px; 
        color:$black6;
      }
      } 
     
    }  
  
    }
    }

