// colors for home page
$yellow:#d58e32;   
$yellow1:#e0a38e;  
$yellow2:#d99844; 
$yellow3:#d7943c;
$green:#79ae30; 
$black:#434343; 
$black1:#6a6a6a;  
$black2:#363636; 
$black3:#2a2a2a;  
$black4:#3e3e3e; 
$black5:#505050; 
$black6:#000000;
$gray:#e8edf7;  
$gray2:#e0e3ed;  
$gray3:#e2e2e2;  
$gray4:#f4f5f7;  
$gray5:#a5a5a5;  
$gray6:#cccccc;  
$gray7:#666666; 
$gray8:#b7b7b7;   
$pink:#fbf3f7; 
$white:#fff; 


